
body {
background-color: #daedf1;
color: #1b4166;
font-family: arial, helvetica, sans-serif;
margin-top: 40px;
margin-left: 60px;
margin-right: 60px;
margin-bottom: 40px;
}
ol {list-style-type: lower-alpha;
padding: 5em;  
}

h1 {color:#fff; text-align:center; }
img#Avatar { width:500px; height:100%; margin:25px 25px 0px 25px;}
img#Art { width:500px; height:100%; margin:25px 25px 50px 25px;}
div#Tex {margin: 25px 25px 25px 550px;}
div#margin {margin: 25px 25px 25px 25px;}
/*  jbg: there has got to be a better way to format the div box besides confining it in margins.  */
 
figure {background-color:lavender; margin:3em; width: 30%;} 
figcaption {font-style:italic; font-size:.8em;}
figure img {max-width:300px; width:100%;}

ul.Menu {
list-style-type: lower-alpha;
 padding: 5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
  /*position: fixed;
  top: 0;*/
}
ul.Menu li {
  float: left;
}

ul.Menu li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14.5px;
}

ul.Menu li a:hover {
  background-color: #111;
}
ul.no-bullets {
  list-style-type: none;
}
 